{% extends "base.html"%} {% block title %} <title>{{title}}</title> {% endblock
%} {% block content%} {%for message in get_flashed_messages()%}
<p>{{message}}</p>
{%endfor%}
<form action="/answer?num={{num+1}}" method="POST">
	<h2>{{num+1}}. {{question.question}}</h2>
	{% for choice in question.choices%}
	<input
		type="radio"
		name="choice"
		id="{{choice}}-option"
		value="{{choice}}"
	/>
	<label for="{{choice}}-option">{{choice}}</label>
	<br />
	{% endfor %}
	<button type="submit">next</button>
</form>
{% endblock %}
